@font-face {
    font-family: "yarorg";
    src: url(yarorg.ttf);
}

@font-face {
    font-family: "yarorg-thin";
    src: url(yarorg-thin.ttf);
}

body{
    background-color: #102179;
    margin:8vw 16vw;
}

#grid-container{
    background-color: #dcd8cf;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    grid-template-rows: 0.3fr 0.1fr 0.3fr 0.3fr 0.3fr 0.3fr;
    padding:1vw 1vw 1vw 1vw;
}


.mediumtextred{
    font-family: 'Noto Sans JP', sans-serif;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    color:#ba5b3d;
    font-size:1.8vw;
    align-self: center;
}

.mediumtext{
    color:black;
    font-family: "yarorg-thin";
font-size:1.8vw;
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 3;
grid-column-end: 5;
align-self: center;
white-space: nowrap;
}

.smalltext{
    font-family: "yarorg-thin";
    font-size: 1.2vw;
    justify-self: center;
    align-self: center;
}


.smallsmalltext{
    font-family: "yarorg-thin";
    font-size: 0.7vw;
    justify-self: center;
    align-self: center;
    line-height: 2.5vw;
}
.smalltext1{
    font-family: "yarorg-thin";
    font-size: 1.2vw;
    justify-self: center;
    align-self: center;
}
.bigtext{
    font-family: "yarorg";
    font-size: 15vw;
   line-height: 15vw;
   color:#102179;
   justify-self: center;
   align-self: center;
}

.bigtext:hover{
    color:#ba5b3d;
}

.bigbigtext:hover{
    color:#ba5b3d;
}

.bigbigtext{
    font-family: "yarorg";
    font-size: 17vw;
   line-height: 15vw;
   color:#102179;
   justify-self: center;
   align-self: center;
}

.mediumtextblue{
    color:#102179;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 5vw;
  
}