@font-face {
    font-family: "sonovariablefont";
    src: url(../sonovariablefont.ttf);
    font-weight: 200 800;
}
body{
    background-color: #FCFBF6;
    font-family: "sonovariablefont";
    margin:2.5vw;
}

.navigationgrid{
    display:grid;
    grid-template-columns: 10vw 10vw 17vw 1fr 12vw 10vw;
    align-items: start;
}

#year{
    font-family: "sonovariablefont";
    font-size:1.2vw;
}


#rankby{
    font-family: "sonovariablefont";
    font-size:1.2vw;
 
}

#namegenerator{
    font-family: "sonovariablefont";
    font-size:1.2vw;
    border:black 0.15vw solid;
    padding-left:0.5vw;
    padding-right:0.5vw;
    padding-top:0.35vw;
    padding-bottom:0.35vw;
    border-radius: 2vw;
    justify-self: end;
}

#namegenerator:active {
  background-color: black;
  color:#F3EAE1;
}

#namegenerator:hover{
  background-color: black;
  color:#F3EAE1; 
}

#search-container{
    font-family: "sonovariablefont";
    font-size:1.2vw;
    border-radius: 2vw;
    vertical-align: top;

}

#button{
    font-family: "sonovariablefont";
    font-size:2.2vw;
}

.dropbtn{
    font-family: "sonovariablefont";
    font-size:1.2vw;
      border: none;
  cursor: pointer;
  background-color:#FCFBF6;
}

.ethnicitydropbtn{
  font-family: "sonovariablefont";
  font-size:1.2vw;
    border: none;
cursor: pointer;
background-color:#FCFBF6;
}

.dropdown{
    float: left;
    position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding:1.2vw;
  border-radius: 1.5vw;
  margin-top: 2vw;
  margin-left:12.5vw;

  color:#FCFBF6;
  min-width:3vw;
  z-index: 1;
  left: 0;
  line-height:2.1vw;
  font-family: "sonovariablefont";
  font-size:1.2vw;
  font-weight: 300;
}

.show {
  display:block;
}


.rankbydropbtn{
    font-family: "sonovariablefont";
    font-size:1.2vw;
      border: none;
  cursor: pointer;
  background-color:#FCFBF6;
}



.rankbydropdown{
    float: left;
    position: relative;
}

.rankbydropdown-content{
display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding:1.2vw;
  border-radius: 1.5vw;
  margin-top: 2vw;
  margin-left:22.5vw;
  color:#FCFBF6;
  min-width: 10vw;
  z-index: 1;
  left: 0;
  line-height:2vw;
  font-family: "sonovariablefont";
  font-size:1.2vw;
  font-weight: 300;
}

.rankbyshow {display:block;}

#namegeneratorlink{
    text-decoration: none;
    color:black;
  }
  
  #namegeneratorlink:visited{
    text-decoration: none;
    color:black;
  }
  
  #namegeneratorlink:hover {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }
  
#namegeneratorlink:active {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }

  #names-container{
    font-variation-settings: 'wght' var(--wght);
  display:grid;
  grid-template-columns: auto auto auto auto;
  margin-top:2.5vw;
  }



 
  input[type="text"], button[type="submit"] {
    font-family: "sonovariablefont";
    font-size:1.2vw;
    vertical-align: top;
  }

  input[type="text"] {
    border:grey 0.15vw solid;
    background-color: #FCFBF6;
    padding-left:0.5vw;
    padding-right:0.5vw;
    padding-top:0.35vw;
    padding-bottom:0.35vw;
    border-radius: 2vw;
    vertical-align: top;
  }

 #search-button{
  font-family: "sonovariablefont";
  font-size:1.2vw;
border:black 0.15vw solid;
background:#FCFBF6;
  padding-left:0.5vw;
  padding-right:0.5vw;
  padding-top:0.35vw;
  padding-bottom:0.35vw;
  border-radius: 2vw;
  cursor: pointer;
  vertical-align: top;
}

#search-button:hover{
  color:#F3EAE1;
  background:black;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
background-color: #FCFBF6;
  border: black solid 0.1vw;
  border-radius: 50%;
  height:2.2vw;
  width: 2.2vw;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  color:black;
  font-size:1.3vw;
  padding-bottom: 0.2vw;
}

#scroll-to-top.show {
  opacity: 1;
}




.year{
  text-decoration:none;
  color:#FCFBF6;
  cursor:pointer;
}

.year:visited{
  color:black;
  text-decoration:none;
}

.year:hover {
  color:#FCFBF6;
  font-weight:600;
  text-decoration:none;
}

.year:active {
  color:#FCFBF6;
  font-weight:600;
  text-decoration: none;
}

.rankby-option{
  text-decoration:none;
  color:#FCFBF6;
  cursor:pointer;
}

.rankby-option:visited{
  color:black;
  text-decoration:none;
}

.rankby-option:hover {
  color:#FCFBF6;
  font-weight:600;
  text-decoration: none;
}

.rankby-option:active {
  color:#FCFBF6;
  font-weight:600;
  text-decoration: none;
}

#aboutlink {
  text-decoration: none;
  color:black;
}

#aboutlink:visited {
  text-decoration: none;
  color:black;
}

#aboutlink:hover {
  text-decoration: none;
  color:black;
  font-weight: 500;
  font-style: italic;
}

#aboutlink:active {
  text-decoration: none;
  color:black;
} 

#home{
  justify-self:end;
}

.dropbtn{
  font-family: "sonovariablefont";
  font-size:1.2vw;
    border: none;
cursor: pointer;
background-color:#FCFBF6;
}



.ethnicitydropdown{
  float: left;
  position: relative;
}

.ethnicitydropdown-content{
display: none;
position: absolute;
background: rgba(0, 0, 0, 0.7);
padding:1.5vw;
border-radius: 1.5vw;
margin-top: 2vw;
margin-left:2.5vw;

color:#FCFBF6;
min-width: 10vw;
z-index: 1;
left: 0;
line-height:2.1vw;
font-family: "sonovariablefont";
font-size:1.2vw;
font-weight: 300;
}

.show-ethnicity-dropdown {
  display:block;
}

#colorcode1{
  background-color:#F08584;
  width: 1.2vw;
  height:1.2vw;
  border-radius: 1vw;
  display: inline-block;
  margin-right: 0.8vw;
}

#colorcode2{
  background-color:#B0B8D7;
  width: 1.2vw;
  height:1.2vw;
  border-radius: 1vw;
  display: inline-block;
  margin-right: 0.8vw;
}

#colorcode3{
  background-color:#94CFB7;
  width: 1.2vw;
  height:1.2vw;
  border-radius: 1vw;
  display: inline-block;
  margin-right: 0.8vw;
}

#colorcode4{
  background-color:#FAD281;
  width: 1.2vw;
  height:1.2vw;
  border-radius: 1vw;
  display: inline-block;
  margin-right: 0.8vw;
}

#key{
  font-family: "sonovariablefont";
  font-size:1.2vw;
}

#home{
  justify-self:end;
    font-family: "sonovariablefont";
    font-size:1.2vw;
}




#ethnicity{
  font-family: "sonovariablefont";
  font-size:1.2vw;
}



.detail {
  display: none;
  position: absolute;
  bottom: -1vw; 
  right: -2.8vw; 
  padding: 0.7vw;
  background-color: #FCFBF6;
  border-radius: 1.5vw;
  border: 0.17vw solid black;
  min-width: 6vw;
  font-size:1.1vw;
  text-align:left;
  font-weight:400;
}

.names .babyname.font-var {
  font-variation-settings: 'wght' var(--wght);
}

.names{
  padding:1.4vw;
     text-align: center;
     font-size:1.65vw;
     margin-top:2.8vw;
     display: inline-block;
     position: relative;
   }

.babyname{
  display: inline-block;
    padding: 0;
    margin: 0;
  position:static;
  
}

.babyname:hover + .detail {
  display: block;
}




@media screen and (max-width: 1024px) {
body{
  margin:2.5vw;
}

#year{
  font-family: "sonovariablefont";
  font-size:2vw;
}

#rankby{
  font-size:2vw;
}


#namegenerator{
  font-size:2vw;
  border:black 0.2vw solid;
  padding-left:0.5vw;
  padding-right:0.5vw;
  padding-top:0.35vw;
  padding-bottom:0.35vw;
  border-radius: 4vw;
  white-space:nowrap;
}

#button{
  font-family: "sonovariablefont";
  font-size:2vw;
}

.dropbtn{
  font-size:2vw;
    border: none;
cursor: pointer;
color:black;
}

.ethnicitydropbtn{
  font-size:2vw;
color:black;
}

.show-ethnicity-dropdown {
  display:block;
}

.dropdown{
  float: left;
  position: relative;
}

.dropdown-content{
padding:2.5vw;
border-radius: 3vw;
margin-top: 3vw;
margin-left:12vw;
min-width: 5vw;
line-height:3vw;

font-size:2vw;

}

.rankbydropbtn{
  font-size:2vw;
color:black;
}

.rankbydropdown{
  float: left;
  position: relative;
}

.rankbydropdown-content{
padding:2.5vw;
border-radius: 3vw;
margin-top: 3vw;
margin-left:22.5vw;
min-width: 5vw;
line-height:3vw;
font-size:2vw;
}

#names-container{
  font-variation-settings: 'wght' var(--wght);
display:grid;
grid-template-columns: auto;
margin-top:2.5vw;
}

.names{
padding:4.2vw;
  text-align: center;
  font-size:5vw;
  margin-top:2.3vw;
  position: relative;
}


input[type="text"], button[type="submit"] {
  font-family: "sonovariablefont";
  font-size:2vw;
  vertical-align: top;
}


input[type="text"] {
  border:grey 0.2vw solid;
  color:grey;
  background-color: #FCFBF6;
  padding-left:0.5vw;
  padding-right:0.5vw;
  padding-top:0.35vw;
  padding-bottom:0.35vw;
  border-radius: 2vw;
  vertical-align: top;
  width:22vw;
}

#search-button{
display:none;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
background-color: #FCFBF6;
  border: black solid 0.25vw;
  border-radius: 50%;
  height:5vw;
  width: 5vw;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  color:black;
  font-size:3vw;
  padding-bottom: 0vw;
  justify-items: center;
  justify-content: center;
  display:grid;
}




.dropbtn{
  font-family: "sonovariablefont";
  font-size:2vw;
    border: none;
cursor: pointer;
background-color:#FCFBF6;
color:black;
}


.ethnicitydropdown{
  float: left;
  position: relative;
}


.ethnicitydropdown-content{

padding:2.5vw;
border-radius: 3vw;
margin-top: 3vw;
margin-left:2.5vw;
line-height:3vw;
font-family: "sonovariablefont";
font-size:2vw;
}

#colorcode1,
#colorcode2,
#colorcode3,
#colorcode4 {
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 1rem;
  margin-right: 0.4rem;
}

#key{
  font-family: "sonovariablefont";
  font-size:2vw;
}

#home{
  justify-self:end;
    font-family: "sonovariablefont";
    font-size:2vw;
}



#ethnicity{
  font-family: "sonovariablefont";
  font-size:2vw;
}


.detail {
  display: none;
  position: absolute;
  bottom: 1vw; 
  right: 4vw; 
  padding: 1.5vw;
  background-color: #FCFBF6;
  border-radius: 2.6vw;
  border: 0.38vw solid black;
  min-width: 6vw;
  font-size:3.3vw;
  text-align:left;
  font-weight:400;
}

.names .babyname.font-var {
  font-variation-settings: 'wght' var(--wght);
}
}


