
@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}

html {
    min-height: 100%;
  }
  
  body {
    min-height: 100%;
  }

.grid-container-2{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100%;

    }
    
.circle{
      height: 2vw;
      width: 2vw;
      background-color: white;
      border:#C92E18 0.1vw solid;
      border-radius: 50%;
      display: inline-block;
      position:absolute;
      bottom:2vw;
    }
    
    
.circle figcaption{
        font-family: "simplonmono";
      color:#C92E18;
      font-size:1.5vw;
      text-align:center;
    }
    
.circle:hover figcaption{
    color:white;
    }

    .circle:hover {
      color:white;
      background-color: #C92E18;
    }
    
a:link { text-decoration: none; }
    

.inputbox{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#input{
    font-family: "simplonmono";
    font-size: 1.1vw;
    line-height:1.4vw;
}

body{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

img{
height:45vw;
position: absolute;
top: 47.2%;
left: 54.4%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

::selection{
    background:#C92E18;
    color:white;
}