*{
    box-sizing: border-box;
  }

  body{
    margin: 3vw 3vw;
  }
  
  .letter{
    width: 14vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0.4vw;
  }

.container{
    display: flex;
    grid-template-columns: 14vw 14vw;
    grid-template-rows: 25vw;
}
  .block{
    background: black;
    border-radius: 50% 50% 50% 50%;

  
  /*  border-radius: 50% 0 0 0;*/
  /*  transform: skew(10deg);*/
  /*  mix-blend-mode: multiply; */
  /*  filter: drop-shadow(15px 15px yellow);*/
  }