body{
    background-size: 100% auto; 
    font-family:mysecondfont;
    font-size: 1vw;
-webkit-animation: bgcolor 30s infinite;
animation: bgcolor 20s infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

h1{
    font-family:myfirstfont;
    font-size:2.5vw;
}
h2{
    font-family:mysecondfont;
    font-size:1.4vw;
}
.title{
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: 65vw;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px 50px;
}

@keyframes bgcolor {
0% {
    background-color: #dfeef3
}

30% {
    background-color: #c5d9df
}

60% {
    background-color: #cee5f6
}

90% {
    background-color: #daf1fe
}

100% {
    background-color: #c5d6f0
}
}

@font-face {
    font-family:myfirstfont;
    src: url(anthony.woff);
}

@font-face {
    font-family:mysecondfont;
    src: url(sligoilmicro.otf);
}
