@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}

body{
    font-family: "simplonmono";
}

.grid-container-2{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100%;

    }
    
.circle{
      height: 2vw;
      width: 2vw;
      background-color: white;
      border:#C92E18 0.1vw solid;
      border-radius: 50%;
      display: inline-block;
      position:absolute;
      bottom:2vw;
    }
    
    
.circle figcaption{
        font-family: "simplonmono";
      color:#C92E18;
      font-size:1.5vw;
      text-align:center;
    }
    
.circle:hover figcaption{
    color:white;
    }

    .circle:hover {
      color:white;
      background-color: #C92E18;
    }
    
a:link { text-decoration: none; }
    
.square{
    height:25vw;
    width:25vw;
    border:0.15vw solid black;
    background-color: white;
    position: absolute;
    top: 24vw;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#middletext{
    font-size: 2.5vw;
    padding:10.5vw 3vw;
    text-align: center;
}

#red1971{
    color:#c92e18; 
}

.red{
    color:#c92e18;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:12s;
}

.white{
    color:white;
}


p{
    font-size: 0.9vw;
}

#sentence1{
    position:absolute;
    left:37.5vw;
    top:7vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:1s;
}

@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


#sentence2{
    position:absolute;
    left:37.5vw;
    top:8.5vw;
opacity:0%;
    animation: appear 1s forwards;
    animation-delay:3s;
}


#sentence3{
    position:absolute;
    transform: rotate(90deg);
    left:55.9vw;
    top:27vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:5s;
}

#sentence4{
    position:absolute;
    left:37.5vw;
    top:36.7vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:7s;
}

#sentence5{
    position:absolute;
    transform: rotate(-90deg);
    left:24vw;
    top:23.4vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:9s;
}


