@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}

body{
    font-family: "simplonmono";
}

.square{
    height:25vw;
    width:25vw;
    border:0.15vw solid black;
    background-color: white;
    position: absolute;
    top: 24vw;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#middletext{
    font-size: 2.5vw;
    padding:10.5vw 3vw;
    text-align: center;
}

.red{
    color:#c92e18;
}

.white{
    color:white;
}


p{
    font-size: 0.9vw;
}

#sentence1{
    position:absolute;
    left:37.5vw;
    top:7vw;
}

#sentence2{
    position:absolute;
    left:37.5vw;
    top:8.5vw;
}

#sentence3{
    position:absolute;
    transform: rotate(90deg);
    left:55.9vw;
    top:27vw;
}

#sentence4{
    position:absolute;
    left:37.5vw;
    top:36.7vw;
}

#sentence5{
    position:absolute;
    transform: rotate(-90deg);
    left:24vw;
    top:23.4vw;
}