@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}


body{
    font-family: "simplonmono";
        min-height: 100%;
}

html {
    min-height: 100%;
  }
  
  .grid-container-2{
    position:absolute;
    bottom:2vw;
    left:46.5%;
    width: 4.5vw;
    height: 4.5vw;


    
        }
    
        #clockContainer{
          width: 4.5vw;
          height: 4.5vw;
          position: relative;
          display: flex;
          justify-content: center;
        
        }
      
      #vertical{
        width: 0.6vw;
        height: 4.5vw;
        background-color: #C92E18;
        position: absolute;
        rotate:0deg
      }
      
      #horizontal{
        width: 0.6vw;
        height: 4.5vw;
        position: absolute;
        background-color: #C92E18;
        animation: rotate-pause 35s infinite;
        rotate: 20deg;
      }
      
      
      
      @keyframes rotate-btn {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes rotate-pause{
        0%{
          transform: rotate(0deg);
        }
        3.3%{
          transform: rotate(12deg);
        }
        6.6%{
          transform: rotate(24deg);
        }
        9.9%{
          transform: rotate(36deg);
        }
      
        13.2%{
          transform: rotate(48deg);
        }
      
        16.5%{
          transform: rotate(60deg);
        }
      
        19.8%{
          transform: rotate(72deg);
        }
      
        23.1%{
          transform: rotate(84deg);
        }
      
        26.4%{
          transform: rotate(96deg);
        }
      
        29.7%{
          transform: rotate(108deg);
        }
        
        33%{
          transform: rotate(120deg);
        }
      
        36.3%{
          transform: rotate(132deg);
        }
      
        39.6%{
          transform: rotate(144deg);
        }
      
        42.9%{
          transform: rotate(156deg);
        }
      
        46.2%{
          transform: rotate(168deg);
        }
      
        49.5%{
          transform: rotate(180deg);
        }
      
        52.8%{
          transform: rotate(192deg);
        }
      
        56.1%{
          transform: rotate(204deg);
        }
      
        59.4%{
          transform: rotate(216deg);
        }
      
        62.7%{
          transform: rotate(228deg);
        }
      
        66%{
          transform: rotate(240deg);
        }
      
        69.3%{
          transform: rotate(252deg);
        }
      
        72.6%{
          transform: rotate(264deg);
        }
      
        75.9%{
          transform: rotate(276deg);
        }
      
        79.2%{
          transform: rotate(288deg);
        }
      
        82.5%{
          transform: rotate(300deg);
        }
      
        85.8%{
          transform: rotate(312deg);
        }
      
        89.1%{
          transform: rotate(324deg);
        }
      
        92.4%{
          transform: rotate(336deg);
        }
      
        95.7%{
          transform: rotate(348deg);
        }
      
        100%{
          transform: rotate(360deg);
        }
      
      }
      
      #vertical:hover~#horizontal{
        border: 0.15vw solid #C92E18;
        background-color:white;
      }
      
      #vertical:hover{
        border: 0.15vw solid #C92E18;
        background-color:white;
      }
    

    
a:link { text-decoration: none; }
    
.square{
    height:25vw;
    width:25vw;
    border:0.15vw solid black;
    background-color: white;
    position: absolute;
    top: 24vw;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#middletext{
    font-size: 2.5vw;
    padding:10.5vw 3vw;
    text-align: center;
}

#red1971{
    color:#c92e18; 
}

#redl{
  color:#c92e18;
  opacity:0%;
  animation: appear 1s forwards;
  animation-delay:12s;
}

#redl:hover~#colorchange{
  color:#c92e18;
}


.white{
    color:white;
}


p{
    font-size: 0.9vw;
}

#sentence1{
    position:absolute;
    left:37.5vw;
    top:7vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:1s;
}

@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


#sentence2{
    position:absolute;
    left:37.5vw;
    top:8.5vw;
opacity:0%;
    animation: appear 1s forwards;
    animation-delay:3s;
}


#sentence3{
    position:absolute;
    transform: rotate(90deg);
    left:56vw;
    top:26.6vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:5s;
}

#sentence4{
    position:absolute;
    left:37.5vw;
    top:36.7vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:7s;
}

#sentence5{
    position:absolute;
    transform: rotate(-90deg);
    left:24vw;
    top:23.4vw;
    opacity:0%;
    animation: appear 1s forwards;
    animation-delay:9s;
}


@media screen and (max-width: 500px) {

  #clockContainer{
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    bottom:2vw;
  }
  
  #vertical{
    width: 0.9vw;
    height: 7vw;
    background-color: #C92E18;
    position: absolute;
    rotate:0deg
  }
  
  #horizontal{
    width: 0.9vw;
    height: 7vw;
    position: absolute;
    background-color: #C92E18;
    animation: rotate-pause 35s infinite;
    rotate: 20deg;
  }

  #vertical:hover~#horizontal{
    border: 0.2vw solid #C92E18;

  }
  
  #vertical:hover{
    border: 0.2vw solid #C92E18;

  }

.square{
    height:55vw;
    width:55vw;
    border:0.3vw solid black;
    top: 60vw;
    left: 50vw;
 
}

#middletext{
    font-size: 5.5vw;
    padding:23.5vw 8vw;
    text-align: center;
}

p{
  font-size: 2vw;
}

#sentence1{
  left:23vw;
  top:22.5vw;
}

#sentence2{
  left:23vw;
  top:26vw;
}

#sentence3{
right:-8vw;
  top:72vw;
}
#sentence4{
  left:23vw;
  top:88vw;
}

#sentence5{
  left:-7.5vw;
  top:58vw;
}

.grid-container-2{
  left:44.5%;
    }

}