@font-face {
    font-family: "sonovariablefont";
    src: url(sonovariablefont.ttf);
    font-weight: 200 800;
}
body{
    background-color: #FCFBF6;
    font-family: "sonovariablefont";
    margin:2.5vw;
}

.navigationgrid{
    display:grid;
    grid-template-columns: 12vw 10vw 1fr;
}

#key{
    font-family: "sonovariablefont";
    font-size:1.2vw;
}

#plus{
    font-size:1.4vw;
}
#listview{
justify-self: end;
    font-family: "sonovariablefont";
    font-size:1.2vw;
    border:black 0.15vw solid;
    padding-left:0.5vw;
    padding-right:0.5vw;
    padding-top:0.35vw;
    padding-bottom:0.35vw;
    border-radius: 2vw;
}

#listview:active {
    background-color: black;
    color:#F3EAE1;
  }
  
#listview:hover{
    background-color: black;
    color:#F3EAE1; 
}


.namegenerator{
    display:grid;
    justify-items: center;
    grid-template-columns: auto;
    margin:3vw;
    gap:3.5vw;
}

#title{
    font-family: "sonovariablefont";
    font-size:2.2vw;
}

#button{
    font-family: "sonovariablefont";
    font-size:2.2vw;
    border:black 0.18vw solid;
    padding-left:0.7vw;
    padding-right:0.7vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    border-radius: 2vw;
    cursor: pointer;
}

#button:active {
    background-color: black;
    color:#F3EAE1;
  }
  
#button:hover{
    background-color: black;
    color:#F3EAE1; 
}

.dropbtn{
    font-family: "sonovariablefont";
    font-size:1.2vw;
      border: none;
  cursor: pointer;
  background-color:#FCFBF6;
}



.dropdown{
    float: left;
    position: relative;
}

.dropdown-content{
display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding:1.5vw;
  border-radius: 1.5vw;
  margin-top: 2vw;
  margin-left:1.5vw;

  color:#FCFBF6;
  min-width: 160px;
  z-index: 1;
  left: 0;
  line-height:2.1vw;
  font-family: "sonovariablefont";
  font-size:1.2vw;
  font-weight: 300;
}

.show {display:block;}

#colorcode1{
    background-color:#F08584;
    width: 2.6vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 1vw;
}

#colorcode2{
    background-color:#B0B8D7;
    width: 2.6vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 1vw;
}

#colorcode3{
    background-color:#94CFB7;
    width: 2.6vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 1vw;
}

#colorcode4{
    background-color:#FAD281;
    width: 2.6vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 1vw;
}


#listlink{
    text-decoration: none;
    color:black;
  }
  
  #listlink:visited{
    text-decoration: none;
    color:black;
  }
  
  #listlink:hover {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }
  
  #listlink:active {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }

  #name{
    padding-top: 4.5vw;
    font-size:6.5vw;
    font-variation-settings: 'wght' var(--wght);
    position:relative;
  }


  .detail {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .name:hover + .detail {
    display: block;
  }
  
  #aboutlink {
    text-decoration: none;
    color:black;
  }
  
  #aboutlink:visited {
    text-decoration: none;
    color:black;
  }
  
  #aboutlink:hover {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-style: italic;
  }
  
  #aboutlink:active {
    text-decoration: none;
    color:black;
  } 