@font-face {
    font-family: "sonovariablefont";
    src: url(sonovariablefont.ttf);
    font-weight: 200 800;
}
body{
    background-color: #FCFBF6;
    font-family: "sonovariablefont";
    margin:2.5vw;
    height:100%;
}

.navigationgrid{
    display:grid;
    grid-template-columns: 10vw 10vw 65vw auto;
}

#key{
    font-family: "sonovariablefont";
    font-size:1.2vw;
}

#plus{
    font-size:1.4vw;
}
#listview{
justify-self: end;
    font-family: "sonovariablefont";
    font-size:1.2vw;
    border:black 0.15vw solid;
    padding-left:0.5vw;
    padding-right:0.5vw;
    padding-top:0.35vw;
    padding-bottom:0.35vw;
    border-radius: 2vw;
}

#listview:active {
    background-color: black;
    color:#F3EAE1;
  }
  
#listview:hover{
    background-color: black;
    color:#F3EAE1; 
}


.namegenerator{
    display:grid;
    justify-items: center;
    grid-template-columns: auto;
    margin:3vw;
    gap:3.5vw;
}

#title{
    font-family: "sonovariablefont";
    font-size:2.2vw;
    justify-items: center;
    text-align: center;
}

#button{
    font-family: "sonovariablefont";
    font-size:2.2vw;
    border:black 0.18vw solid;
    padding-left:0.7vw;
    padding-right:0.7vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    border-radius: 2vw;
    cursor: pointer;
}

#button:active {
    background-color: black;
    color:#F3EAE1;
  }
  
#button:hover{
    background-color: black;
    color:#F3EAE1; 
}

.dropbtn{
    font-family: "sonovariablefont";
    font-size:1.2vw;
      border: none;
  cursor: pointer;
  background-color:#FCFBF6;
}



.dropdown{
    float: left;
    position: relative;
}

.dropdown-content{
display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding:1.5vw;
  border-radius: 1.5vw;
  margin-top: 2vw;
  margin-left:2.5vw;

  color:#FCFBF6;
  min-width: 10vw;
  z-index: 1;
  left: 0;
  line-height:2.1vw;
  font-family: "sonovariablefont";
  font-size:1.2vw;
  font-weight: 300;
}

.show {
  display:block;
}

#colorcode1{
    background-color:#F08584;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 0.8vw;
}

#colorcode2{
    background-color:#B0B8D7;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 0.8vw;
}

#colorcode3{
    background-color:#94CFB7;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 0.8vw;
}

#colorcode4{
    background-color:#FAD281;
    width: 1.2vw;
    height:1.2vw;
    border-radius: 1vw;
    display: inline-block;
    margin-right: 0.8vw;
}


#listlink{
    text-decoration: none;
    color:black;
  }
  
  #listlink:visited{
    text-decoration: none;
    color:black;
  }
  
  #listlink:hover {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }
  
  #listlink:active {
    color:#F3EAE1;
    background:black;
    text-decoration: none;
  }

  #name{
    padding-top: 4.5vw;
    font-size:6.5vw;
    font-variation-settings: 'wght' var(--wght);
    position:relative;
  }

  .name-wrapper{
    position: relative;
  }

  .detail {
    display: none;
    position: absolute;
    bottom: -1vw; 
    right: -11vw; 
    padding: 0.8vw;
    background-color: #FCFBF6;
    border-radius: 1.5vw;
    border: 0.18vw solid black;
    min-width: 7vw;
    font-size:1.2vw;
  }
  
  #name:hover + .detail {
    display: block;
  }
  
  #aboutlink {
    text-decoration: none;
    color:black;
  }
  
  #aboutlink:visited {
    text-decoration: none;
    color:black;
  }
  
  #aboutlink:hover {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-style: italic;
  }
  
  #aboutlink:active {
    text-decoration: none;
    color:black;
  } 

  #home{
    justify-self:end;
      font-family: "sonovariablefont";
      font-size:1.2vw;
  }
  
  #year{
    font-family: "sonovariablefont";
    font-size:1.2vw;
}

.yeardropbtn{
  font-family: "sonovariablefont";
  font-size:1.2vw;
    border: none;
cursor: pointer;
background-color:#FCFBF6;
}

.yeardropdown{
  float: left;
  position: relative;
}

.yeardropdown-content{
display: none;
position: absolute;
background: rgba(0, 0, 0, 0.7);
padding:1.2vw;
border-radius: 1.5vw;
margin-top: 2vw;
margin-left:12.5vw;

color:#FCFBF6;
min-width: 3vw;
z-index: 1;
left: 0;
line-height:2.1vw;
font-family: "sonovariablefont";
font-size:1.2vw;
font-weight: 300;
}

.show-year-dropdown {
  display: block;
}

.year{
  text-decoration:none;
  color:#FCFBF6;
  cursor:pointer;
}

.year:visited{
  color:black;
  text-decoration:none;
}

.year:hover {
  color:#FCFBF6;
  font-weight:600;
  text-decoration:none;
}

.year:active {
  color:#FCFBF6;
  font-weight:600;
  text-decoration: none;
}


@media screen and (max-width: 1024px) {
 
  body {
    margin:2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
  }

    #key {
      font-size: 3.2vw;
    }
    
    #home{
      font-size: 3.2vw;
    }
    
    #year{

      font-size:3.2vw;
  }
    #plus {
      font-size: 3.4vw;
    }
    
    #listview {
      font-size: 3.2vw;
      padding: 0.6vw 0.8vw;
      border-radius: 4vw;
      border:black 0.3vw solid;
    }
    
    #title {
      font-size: 5vw;
      white-space:nowrap;
    }

    .dropbtn{
      font-size: 3.2vw;
      color:black;
    }

    .yeardropbtn{
      font-size: 3.2vw;
      color:black;
    }
    
    #button {
      font-size: 5vw;
      padding: 0.6vw 1.2vw;
      border-radius: 6vw;
      border:black 0.3vw solid;
    }
    
    .dropdown .dropbtn {
      font-size: 3.2vw;
    }
    
    .dropdown-content {
      padding: 3vw;
      border-radius: 3.5vw;
      margin-top: 5.5vw;
      margin-left: 5.5vw;
      min-width: 10vw;
      line-height: 5.1vw;
      font-size: 3.2vw;
    }
    
    .yeardropdown-content {
      padding: 3vw;
      border-radius: 3.5vw;
      margin-top: 5.5vw;
      margin-left: 27.5vw;
      min-width: 5vw;
      line-height: 5.1vw;
      font-size: 3.2vw;
    }
    #name {
      font-size: 18vw;
    }
    
    /* Adjust element widths */
    .navigationgrid {
      grid-template-columns: repeat(4, 1fr);
      display:grid;
      margin:0;
      padding:0;
    }
    
    #colorcode1,
    #colorcode2,
    #colorcode3,
    #colorcode4 {
      width: 3.2vw;
      height: 3.2vw;
      border-radius: 1rem;
      margin-right: 0.8rem;
    }
    

    
    #listlink,
    #aboutlink {
      padding: 0.5vw;
    }
    
    /* Other adjustments */
    #name {
      padding-top: 4.5rem;
    }
    

  

  .namegenerator{
 margin: 10vw 0;
    gap:8vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  


.detail {
  display: none;
  position: absolute;
  bottom: -18vw; 
  left: 50%; 
  transform: translateX(-50%);
  padding: 1.5vw;
  background-color: #FCFBF6;
  border-radius: 2.6vw;
  border: 0.38vw solid black;
max-width:22vw;
  font-size:3.5vw;
  text-align: left;
}

.name-wrapper {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
  
}




