@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}

body{
    font-family: "simplonmono";
    font-size: 1.2vw;
    line-height: 1.85vw;
}

.grid-container-2{
display:flex;
justify-content:center;
align-items: center;
padding-bottom: 2vw;
padding-top: 2vw;
}

#clockContainer{
  width: 4.5vw;
  height: 4.5vw;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: center;

}

#vertical{
  width: 0.6vw;
  height: 4.5vw;
  background-color: #C92E18;
  position: absolute;
  rotate:0deg
}

#horizontal{
  width: 0.6vw;
  height: 4.5vw;
  position: absolute;
  background-color: #C92E18;
  animation: rotate-pause 35s infinite;
  rotate: 20deg;
}



@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-pause{
  0%{
    transform: rotate(0deg);
  }
  3.3%{
    transform: rotate(12deg);
  }
  6.6%{
    transform: rotate(24deg);
  }
  9.9%{
    transform: rotate(36deg);
  }

  13.2%{
    transform: rotate(48deg);
  }

  16.5%{
    transform: rotate(60deg);
  }

  19.8%{
    transform: rotate(72deg);
  }

  23.1%{
    transform: rotate(84deg);
  }

  26.4%{
    transform: rotate(96deg);
  }

  29.7%{
    transform: rotate(108deg);
  }
  
  33%{
    transform: rotate(120deg);
  }

  36.3%{
    transform: rotate(132deg);
  }

  39.6%{
    transform: rotate(144deg);
  }

  42.9%{
    transform: rotate(156deg);
  }

  46.2%{
    transform: rotate(168deg);
  }

  49.5%{
    transform: rotate(180deg);
  }

  52.8%{
    transform: rotate(192deg);
  }

  56.1%{
    transform: rotate(204deg);
  }

  59.4%{
    transform: rotate(216deg);
  }

  62.7%{
    transform: rotate(228deg);
  }

  66%{
    transform: rotate(240deg);
  }

  69.3%{
    transform: rotate(252deg);
  }

  72.6%{
    transform: rotate(264deg);
  }

  75.9%{
    transform: rotate(276deg);
  }

  79.2%{
    transform: rotate(288deg);
  }

  82.5%{
    transform: rotate(300deg);
  }

  85.8%{
    transform: rotate(312deg);
  }

  89.1%{
    transform: rotate(324deg);
  }

  92.4%{
    transform: rotate(336deg);
  }

  95.7%{
    transform: rotate(348deg);
  }

  100%{
    transform: rotate(360deg);
  }

}

#vertical:hover~#horizontal{
  border: 0.15vw solid #C92E18;
  background-color:white;
}

#vertical:hover{
  border: 0.15vw solid #C92E18;
  background-color:white;
}



a:link { text-decoration: none; }


.grid-container{
display:grid;
  margin: 2vw 2vw;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  gap:3.5vw;
}
section{
    padding:2vw;
  }

.spaghettiwhite1{
    color:white;
}

.spaghettired1{
opacity:0;
color:#c92e18;
}

.active{
  opacity:1;
  }



.spaghettiwhite2{
  color:white;
}

.spaghettired2{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite3{
  color:white;
}

.spaghettired3{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite4{
  color:white;
}

.spaghettired4{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite5{
  color:white;
}

.spaghettired5{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite6{
  color:white;
}

.spaghettired6{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite7{
  color:white;
}

.spaghettired7{
opacity:0;
color:#c92e18;
}

.active{
opacity:1;
}

.spaghettiwhite8{
  color:white;
}

.spaghettired8{
opacity:0;
color:#c92e18;
}
.active{
  opacity:1;
  }

.spaghettiwhite9{
  color:white;
}

.spaghettired9{
opacity:0;
color:#c92e18;
}
.active{
  opacity:1;
  }

.spaghettiwhite10{
  color:white;
}

.spaghettired10{
opacity:0;
color:#c92e18;
}
.active{
  opacity:1;
  }

.spaghettiwhite11{
  color:white;
}

.spaghettired11{
opacity:0;
color:#c92e18;
}
.active{
  opacity:1;
  }

.spaghettiwhite12{
  color:white;
}

.spaghettired12{
opacity:0;
color:#c92e18;
}
.active{
  opacity:1;
  }

.white{
    color:white;
}

#red{
    color:white;
}

.red{
    color:#c92e18;
}


@media screen and (max-width: 500px) {

  #clockContainer{
    width: 7vw;
    height: 7vw;
  }
  
  #vertical{
    width: 0.9vw;
    height: 7vw;
    background-color: #C92E18;
    position: absolute;
    rotate:0deg
  }
  
  #horizontal{
    width: 0.9vw;
    height: 7vw;
    position: absolute;
    background-color: #C92E18;
    animation: rotate-pause 35s infinite;
    rotate: 20deg;
  }

  #vertical:hover~#horizontal{
    border: 0.2vw solid #C92E18;

  }
  
  #vertical:hover{
    border: 0.2vw solid #C92E18;


}

body{
  font-size: 2.3vw;
  line-height: 3.2vw;
}

#vertical{
  width: 0.9vw;
  height: 7vw;
  background-color: #C92E18;
  position: absolute;
  rotate:0deg
}

#horizontal{
  width: 0.9vw;
  height: 7vw;
  position: absolute;
  background-color: #C92E18;
  animation: rotate-pause 35s infinite;
  rotate: 20deg;
}

#vertical:hover~#horizontal{
  border: 0.2vw solid #C92E18;

}

#vertical:hover{
  border: 0.2vw solid #C92E18;


}

.grid-container-2{
  padding-bottom: 2vw;
  padding-top: 2vw;
  }

  .grid-container{
    display:grid;
      margin: 1vw 1vw;
      gap:2vw;
    }
    section{
        padding:1vw;
      }
}