@font-face {
    font-family: "simplonmono";
    src: url(simplonmono-regular.otf);
}

body{
    font-family: "simplonmono";
    font-size: 1.2vw;
    line-height: 1.85vw;
}
.grid-container{
display:grid;
  margin: 2vw 2vw;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  gap:3.5vw;
}
section{
    padding:2vw;
  }

#spaghettiwhite1{
    color:white;
}

#spaghettired1{
display:none;
color:#c92e18;
}

#spaghettiwhite1:hover #spaghettired1{
display:block;
}

.white{
    color:white;
}

#red{
    color:white;
}

.red{
    color:#c92e18;
}