
 @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 body {
  margin: 2vw;
  font-family: 'Xanh Mono', monospace;
}

h1 {
  font-size: 4vw;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  font-size: 3vw;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.grid {
  border: black 0.2vw solid;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  height: 90vh;
}

.project-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-right: black 0.2vw solid;
  padding: 1vw;
  font-family: 'Space Mono', monospace;
  font-size: 1.3vw;
}

header {
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: black 0.2vw solid;
  padding: 2vw;
  width: 55vw;
}

a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;

}
a:hover{
  color: black;
  text-decoration: none;
  font-style:italic;
  font-weight:700;
}

a:active {
  color: black;
  text-decoration: none;
  font-style:italic;
  font-weight:700;
}

.text {
  padding: 2vw;
  display: grid;
  grid-template-rows: 1fr auto;
}

#text1 {
  font-size: 1.3vw;
  font-family: 'Space Mono', monospace;
}

#text2 {
  justify-self: end;
  text-align: left;
  font-size: 1.1vw;
  font-family: 'Space Mono', monospace;
}

.name {
  justify-self: end;
  align-self: end;
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 1.3vw;
  margin: 0; /* Updated */
}

.line-break-code {
  white-space: pre-wrap;
}

.left-div-grid{
  display:grid;
  grid-template-rows: auto auto;
}

.header{
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: black 0.2vw solid;
  padding: 2vw;
  width: 55vw;
}

.image{
  padding:2vw;
  border-right: black 0.2vw solid;
}

video{
  width:55vw;
}