body {
  margin: 2vw;
  font-family: 'Xanh Mono', monospace;
}

h1 {
  font-size: 7vw;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1; /* Added */
}

h2 {
  font-size: 5vw;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1; /* Added */
}

.grid {
  border: black 0.2vw solid;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 90vh;
}

.project-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-right: black 0.2vw solid;
  padding: 1.5vw;
  font-family: 'Space Mono', monospace;
  font-size: 1.3vw;
}

header {
  display: grid;
  grid-template-rows: 1fr auto; /* Updated */
  border-right: black 0.2vw solid;
  padding: 2vw;
  width: 55vw;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.text {
  padding: 2vw;
  display: grid;
  grid-template-rows: 1fr auto; /* Updated */
}

#text1 {
  font-size: 1.3vw;
  font-family: 'Space Mono', monospace;
}

#text2 {
  justify-self: end; /* Updated */
  text-align: left;
  font-size: 1.1vw;
  font-family: 'Space Mono', monospace;
}

.name {
  justify-self: end; /* Updated */
  align-self: end; /* Added */
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 1.3vw;
  margin: 0;
}
