<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/css/main.css' | url}}">
</head>
<body>
<div class="grid">
    <div class="project-grid">
     <p><a href="../../index.html">HOME</a></p>
        {% for page in collections.pages %}
            <div class="projectlink"><a href="{{ page.url }}">{{ page.data.title }}</a></div>
        {%- endfor %}

    </div>

    <header>
        <h1>{{ project }}</h1>  
        <h2 class="name">{{ name }}</h2>  
    </header>


    <div class="text">
        <div id="text1">
{{ detail | replace("\n", "<br>") | safe }}
        </div>

        <div id="text2">
        {{ description }}
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2023 11ty test</p>
</footer>
</body>
</html>
