body{
    background-color:#F3EAE1;
}

@font-face {
    font-family: "neuzeitgro-reg";
    src: url(neuzeitgro-reg.ttf);
}

@font-face {
    font-family: "compagnon-roman";
    src: url(compagnon-roman.otf);
}

.parent-container{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2vw;
    margin:1.5vw;
    border:#E16D31 0.2vw solid;
    border-radius: 5%;
    height:100%;
  }

.about{
    background:#E16D31;
    width:6vw;
    height:1.5vw;
    font-size:1.3vw;
    color:#F3EAE1;
    padding:0.3vw;
    justify-self: center;
    font-family: "neuzeitgro-reg";
}

.child-containter{
    display:grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#cantonese-title{
    font-family: "neuzeitgro-reg";
    font-size:1.2vw;
    color:#E16D31;
}

#chinese-title{
font-family: "source-han-sans-traditional", sans-serif;
font-weight: 400;
font-style: normal;
font-size:3.1vw;
color:#E16D31;
}

#english-title{
    color:#104877;
    font-family: "compagnon-roman";
    font-size:2.2vw;
}