body{
    background-color:#F3EAE1;
}

@font-face {
    font-family: "neuzeitgro-reg";
    src: url(neuzeitgro-reg.ttf);
}

@font-face {
    font-family: "compagnon-roman";
    src: url(compagnon-roman.otf);
}

@font-face {
  font-family: "neuzeitgro-bol";
  src: url(neuzeitgro-bol.ttf);
}


#parent-container{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2vw;
    margin:3vw;
    margin-bottom:1.5vw;
    border:#E16D31 0.2vw solid;
    border-radius: 2vw;
    height:100%;
    padding-bottom:2vw;
  }

.about{
    background:#E16D31;
    width:6vw;
    height:1.5vw;
    font-size:1.3vw;
    color:#F3EAE1;
    padding:0.3vw;
    justify-self: center;
    font-family: "neuzeitgro-reg";
}

.about:hover{
  background:#E16D31;
  color:#F3EAE1;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
    transition: 0.3s;
}

.child-containter{
    display:grid;
    text-align: left;
    justify-content: center;
    align-items: center;
}

#cantonese-title{
    font-family: "neuzeitgro-reg";
    font-size:1.25vw;
    color:#E16D31;
}

#chinese-title{
font-family: "source-han-sans-traditional", sans-serif;
font-weight: 400;
font-style: normal;
font-size:3.2vw;
color:#E16D31;
}

#english-title{
    color:#104877;
    font-family: "compagnon-roman";
    font-size:2.4vw;
padding:0.6vw;
}

.snacknames{
    color:#104877;
    font-family: "neuzeitgro-reg";
    font-size:1.3vw;
    line-height:1.7vw;
}

.name{
  color:#E16D31;
  font-family: "neuzeitgro-reg";
  font-size:1.3vw;
text-align:right;
padding-right:3.5vw;
padding-bottom:1vw;
}
.snacklistgrid{
display:grid;
grid-template-rows: auto;
text-align: left;
gap:5vw;
margin:1vw;
grid-template-columns: 1fr 1fr 1fr;
}


#aboutpage:link{
  text-decoration: none;
  color:#F3EAE1;

}



#aboutpage:visited{
  text-decoration: none;
  color:#F3EAE1;

}



#aboutpage:hover {
  color:#F3EAE1;
  text-decoration: none;
}

#aboutpage:active {
  color:#F3EAE1;
  text-decoration: none;


}

#red:link{
  text-decoration: none;
  color:#E16D31;
      font-family: "neuzeitgro-reg";
}



#red:visited{
  text-decoration: none;
  color:#E16D31;
  font-family: "neuzeitgro-reg";
}



#red:hover {
  color:#F3EAE1;
  text-decoration: none;
  font-family: "neuzeitgro-reg";
}

#red:active {
  color:#F3EAE1;
  text-decoration: none;
  font-family: "neuzeitgro-reg";
}

a:link{
    text-decoration: none;
    color:#104877;
}



a:visited{
    text-decoration: none;
    color:#104877;
}



  a:hover {
    color:#E16D31;
    text-decoration: none;

  }

  a:active {
    color:#E16D31;
    text-decoration: none;
  }

  .photogrid{
    display:grid;
grid-template-columns: auto auto auto;
    grid-template-rows: repeat auto-fill;
    align-items: center;
    gap:5vw;
    padding:2vw;
  }

#snackimg1 img{
    width:20vw;
  }

  #snackimg2 img{
    width:20vw;
  }


  #snackimg3 img{
    width:20vw;
  }

  #snackimg4 img{
    width:20vw;
  }
  #snackimg5 img{
    width:20vw;
  }
  #snackimg6 img{
    width:20vw;
  }
  #snackimg7 img{
    width:20vw;
  }
  #snackimg8 img{
    width:20vw;
  }
  #snackimg9 img{
    width:20vw;
  }
  #snackimg10 img{
    width:20vw;
  }

  #snackimg11 img{
    width:20vw;
  }
  #snackimg12 img{
    width:20vw;
  }
  #snackimg13 img{
    width:20vw;
  }
  #snackimg14 img{
    width:20vw;
  }
  #snackimg15 img{
    width:20vw;
  }
  #snackimg16 img{
    width:20vw;
  }
  #snackimg17 img{
    width:20vw;
  }
  #snackimg18 img{
    width:20vw;
  }
  #snackimg19 img{
    width:20vw;
  }
  #snackimg20 img{
    width:20vw;
  }

  #snackimg21 img{
    width:20vw;
  }

  #snackimg22 img{
    width:20vw;
  }

  #snackimg23 img{
    width:20vw;
  }

  #snackimg24 img{
    width:20vw;
  }

  #snackimg25 img{
    width:20vw;
  }
  #snackimg26 img{
    width:20vw;
  }
  #snackimg27 img{
    width:20vw;
  }
  #snackimg28 img{
    width:20vw;
  }
  #snackimg29 img{
    width:20vw;
  }
  #snackimg30 img{
    width:20vw;
  }
  .number{
    color:#E16D31;
    font-family: "neuzeitgro-reg";
    border: solid #E16D31 0.1vw;
    border-radius: 50%;
    width:1.3vw;
    height:1.26vw;
    font-size:1.1vw;
    padding:0.1vw;
  }

  .individualsnackgrid{
  display:grid;
  grid-template-columns:auto auto;
  }

  .line{
  height: 0.17vw;
  background:#E16D31;;
  }

.active{
    color:#E16D31;
}


.backtotop{
  font-family: "neuzeitgro-reg";
  color:#E16D31;
    border:#E16D31 0.15vw solid;
    padding-top:0.4vw;
    padding-bottom:0.2vw;
    border-radius:2vw;
    font-size:1.2vw;
  width:9.5vw;
  justify-self: center;
}

.backtotop:hover{
  background-color: #E16D31;
  color:#F3EAE1;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .photogrid{
grid-template-columns: auto;
    grid-template-rows: repeat auto-fill;
    align-items: center;
    gap:6vw;
    margin:2.5vw;
    justify-items: center;
  }

  #parent-container{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2vw;
    margin:3vw;
    margin-bottom:1.5vw;
    border:#E16D31 0.35vw solid;
    border-radius: 2vw;
    height:100%;
    padding-bottom:4vw;
  }

  .about{
    background:#E16D31;
    width:11vw;
    height:3.2vw;
    font-size:3vw;
    color:#F3EAE1;
    padding:0.5vw;
    justify-self: center;
    font-family: "neuzeitgro-reg";
}

.about:hover{
  background:#E16D31;
  color:#F3EAE1;
  border-bottom-left-radius: 1.2vw;
  border-bottom-right-radius: 1.2vw;
    transition: 0.3s;
}

.child-containter{
  display:grid;
  text-align: left;
  justify-content:left;
  align-items:flex-end;
  gap:8vw;
  margin:10vw;
}

#cantonese-title{
  font-family: "neuzeitgro-reg";
  font-size:2.875vw;
  color:#E16D31;
  padding-top:2vw;
}

#chinese-title{
font-family: "source-han-sans-traditional", sans-serif;
font-weight: 400;
font-style: normal;
font-size:7.36vw;
color:#E16D31;
padding-bottom:0.5vw;
}

#english-title{
  color:#104877;
  font-family: "compagnon-roman";
  font-size:5.52vw;
padding:0.5vw;
padding-bottom:2vw;
line-height:6.1vw;
}

#snackimg1 img{
    width:60vw;
  }

  #snackimg2 img{
    width:60vw;
  }


  #snackimg3 img{
    width:60vw;
  }

  #snackimg4 img{
    width:60vw;
  }
  #snackimg5 img{
    width:60vw;
  }
  #snackimg6 img{
    width:60vw;
  }
  #snackimg7 img{
    width:60vw;
  }
  #snackimg8 img{
    width:60vw;
  }
  #snackimg9 img{
    width:60vw;
  }
  #snackimg10 img{
    width:60vw;
  }

  #snackimg11 img{
    width:60vw;
  }
  #snackimg12 img{
    width:60vw;
  }
  #snackimg13 img{
    width:60vw;
  }
  #snackimg14 img{
    width:60vw;
  }
  #snackimg15 img{
    width:60vw;
  }
  #snackimg16 img{
    width:60vw;
  }
  #snackimg17 img{
    width:60vw;
  }
  #snackimg18 img{
    width:60vw;
  }
  #snackimg19 img{
    width:60vw;
  }
  #snackimg20 img{
    width:60vw;
  }

  #snackimg21 img{
    width:60vw;
  }

  #snackimg22 img{
    width:60vw;
  }

  #snackimg23 img{
    width:60vw;
  }

  #snackimg24 img{
    width:60vw;
  }

  #snackimg25 img{
    width:60vw;
  }
  #snackimg26 img{
    width:60vw;
  }
  #snackimg27 img{
    width:60vw;
  }
  #snackimg28 img{
    width:60vw;
  }
  #snackimg29 img{
    width:60vw;
  }
  #snackimg30 img{
    width:60vw;
  }


  .snacklistgrid{
    display:block;
    text-align: left;
    margin:3vw;
    justify-items: center;
    align-items: center;
    }

    .snacklistgridmobile{
      display:grid;
      justify-items: center;
      margin:1vw;
    }
  

    .snacknames{
      color:#104877;
      font-family: "neuzeitgro-reg";
      font-size:3vw;
      line-height:3.7vw;
  }
  .name{
    color:#E16D31;
    font-family: "neuzeitgro-reg";
    font-size:3vw;
  text-align:right;
  padding-right:3.5vw;
  padding-bottom:1vw;
  }

  .number{
    color:#E16D31;
    font-family: "neuzeitgro-reg";
    border: solid #E16D31 0.24vw;
    border-radius: 50%;
    width:2.8vw;
    height:2.8vw;
    font-size:2.53vw;
    padding:0.3vw;
  }

  .line{
    height: 0.28vw;
    background:#E16D31;;
    }
  
  .active{
      color:#E16D31;
  }
  
  
  .backtotop{
    font-family: "neuzeitgro-reg";
    color:#E16D31;
      border:#E16D31 0.28vw solid;
      padding-top:0.6vw;
      padding-bottom:0.25vw;
      border-radius:2.5vw;
      font-size:3vw;
    width:23.5vw;
    justify-self: center;
  }
  
}

