@font-face {
    font-family: "neuzeitgro-reg";
    src: url(../assets/neuzeitgro-reg.ttf);
}

@font-face {
    font-family: "utopia-bold-italic";
    src: url(../assets/utopia-bold-italic.ttf);
}

@font-face {
    font-family: "compagnon-roman";
    src: url(../assets/compagnon-roman.otf);
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2vw;
    margin:1.5vw;
  }


  #leftbox{
    border:#E16D31 0.2vw solid;
    border-radius: 2vw;
    height:91%;
    justify-content: center;
    display:grid;
    padding-bottom: 2.3vw;

  }

.snackno{
    background:#E16D31;
    width:6vw;
    height:1.4vw;
    font-size:1.3vw;
    color:#F3EAE1;
    padding:0.3vw;
    font-family: "neuzeitgro-reg";
    justify-self: center;
    margin-bottom:2vw;
}
  
#rightbox {
    display: block;
    margin:0.5vw;
    padding:0.2vw;
    height: 45vw;
    overflow-y: scroll;
}

  body{
    background-color:#F3EAE1;
  }

.snackimg img{
  height:27vw;
  margin:1vw;
}


.snacknameeng{
  font-family: "compagnon-roman";
  font-size:2.4vw;
  color: #104877;
}


.cantonesepronunciation{
  font-family: "neuzeitgro-reg";
  color: #E16D31;
  font-size:1.2vw;
}

.snacknamechi{
  font-family: "source-han-sans-traditional", sans-serif;
font-weight: 400;
font-style: normal;
font-size:2.7vw;
color:#104877;
}

.story{
  font-family: "neuzeitgro-reg";
  color:#104877;
  text-align: left;
  font-size:1.4vw;
  line-height:1.7vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.brand{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:1.4vw;
  text-align: left;
}

.category{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:1.4vw;
  text-align: left;
}

.origin{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:1.4vw;
  text-align: left;
}

.flavors{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:1.4vw;
  text-align: left;
}

.personalrating{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:1.4vw;
  text-align: left;
}

.smallcontainer{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:4vw;
  margin:0.8vw;
}


#buttongrid{
  display:grid;
  grid-template-columns: 5vw;
  color:#E16D31;
  font-family: "neuzeitgro-reg";
  gap:1vw;
  justify-content: end;
  margin:0.5vw;
}

.nextbutton{
  border:#E16D31 0.15vw solid;
  padding-top:0.4vw;
  padding-bottom:0.2vw;
  border-radius:2vw;
  font-size:1.2vw;
}

.homebutton{
  border:#E16D31 0.15vw solid;
  padding-top:0.4vw;
  padding-bottom:0.2vw;
  border-radius:2vw;
  font-size:1.2vw;
}

.label{
  color:#E16D31;
  font-family: "neuzeitgro-reg";
  font-size:1.4vw;
}

a:link{
  text-decoration:none;
  color:#E16D31;
}

a:visited{
    text-decoration: none;
    color:#E16D31;
}

a:hover {
    text-decoration: none;
    background:#E16D31;
    color:#F3EAE1;
    border-radius:2vw;
  }

  a:active {
    text-decoration: none;
    background:#E16D31;
    color:#F3EAE1;
    border-radius:2vw;

  }

  .nextbutton:hover{
    background:#E16D31;
    color:#F3EAE1;
  }
  
 
  
  .homebutton:hover{
    background:#E16D31;
    color:#F3EAE1;
  }
  

  @media screen and (max-width: 1024px) {
    .grid{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap:6vw;
      margin:4vw;

    }


  #leftbox{
    border:#E16D31 0.35vw solid;
    border-radius: 2vw;
    height:100%;
    justify-content: center;
    display:grid;
    padding-left:1.6vw;
    padding-right:1.6vw;
    margin:0vw;
  }

  #rightbox {
    margin:0vw;
    padding:0vw;
    overflow-y: hidden;
    height:100%;
    
}

.snackimg img{
  height:65vw;
  margin:2.5vw;
}

.snackno{
  background:#E16D31;
  color:#F3EAE1;
  font-family: "neuzeitgro-reg";
  justify-self: center;
  margin-bottom:2vw;
    width:14vw;
    height:3.2vw;
    font-size:3vw;
    padding:0.5vw;
}

.smallcontainer{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:6vw;
  margin:2vw;
}
.snacknameeng{
  font-family: "compagnon-roman";
  font-size:5.52vw;
  color: #104877;
}


.cantonesepronunciation{
  font-family: "neuzeitgro-reg";
  color: #E16D31;
  font-size:2.76vw;

}

.snacknamechi{
  font-family: "source-han-sans-traditional", sans-serif;
font-weight: 400;
font-style: normal;
font-size:6.21vw;
color:#104877;
}

.story{
  font-family: "neuzeitgro-reg";
  color:#104877;
  text-align: left;
  font-size:3.22vw;
  line-height:3.7vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.brand{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:3.22vw;
  text-align: left;
}

.category{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:3.22vw;
  text-align: left;
}

.origin{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:3.22vw;
  text-align: left;
}

.flavors{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:3.22vw;
  text-align: left;
}

.personalrating{
  font-family: "neuzeitgro-reg";
  color:#104877;
  font-size:3.22vw;
  text-align: left;
}

#buttongrid{
  display:grid;
  grid-template-columns: 10vw;
  color:#E16D31;
  font-family: "neuzeitgro-reg";
  gap:2vw;
  justify-content: end;
  margin:0.5vw;
}

.nextbutton{
  border:#E16D31 0.25vw solid;
  padding-top:0.4vw;
  padding-bottom:0.2vw;
  border-radius:2.2vw;
  font-size:2.76vw;
  width:10vw;
}

.nextbutton:hover{
  background:#E16D31;
  color:#F3EAE1;
}

.homebutton{
  border:#E16D31 0.25vw solid;
  padding-top:0.4vw;
  padding-bottom:0.2vw;
  border-radius:2.2vw;
  font-size:2.76vw;
  width:10vw;
}


.homebutton:hover{
  background:#E16D31;
  color:#F3EAE1;
}


.label{
  color:#E16D31;
  font-family: "neuzeitgro-reg";
  font-size:3.22vw;
}

a:link{
  text-decoration:none;
  color:#E16D31;
}

a:visited{
    text-decoration: none;
    color:#E16D31;
}

a:hover {
    text-decoration: none;
    background:#E16D31;
    color:#F3EAE1;
    border-radius:2.2vw;
  }

  a:active {
    text-decoration: none;
    background:#E16D31;
    color:#F3EAE1;
    border-radius:2.2vw;

  }
  }